<%- include("templates/header") %> 
<h1>Members Page</h1>
<h2>Welcome <%= username %>!</h2>
<!-- <img src='<%= picname %>' width='300'> -->
<div class="row mb-3 text-center">
    <div class="col-md-4 themed-grid-col"><img src='pic1.jpg' class="img-fluid"></div>
    <div class="col-md-4 themed-grid-col"><img src='pic2.jpg' class="img-fluid"></div>
    <div class="col-md-4 themed-grid-col"><img src='pic3.jpg' class="img-fluid"></div>
  </div>
<br />
<form action='/logout' method='post'>
    <button class="btn btn-secondary rounded-pill px-3">Logout</button><br />
</form>
<%- include("templates/footer") %>